@charset "UTF-8";

/* 10-1 */
.button-area {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-bottom: 40px;
}

.btn {
  padding: 0 15px;  
  line-height: 50px; 
  display: inline-block; 
  text-align: center;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
}

.red {
  background: #fd0f0fd9;
  color: #fff;
}

.blue {
  background: #170ffdd9;
  color: #fff;
}

.green {
  background: #0ffd0fd9;
  color: #000;
}

/* 10-2 */
.shadow.red {
  box-shadow: 0 5px 0 rgba(63, 5, 5, 0.851);
}

.shadow.blue {
  box-shadow: 0 5px 0 rgba(5, 13, 63, 0.851);
}

.shadow.green {
  box-shadow: 0 5px 0 rgba(5, 63, 5, 0.851);
}

/* 10-3 */
.press:active {
  transform: translateY(4px);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
}

/* 10-4 */
.hover-btn {
  background: #fff;
  color: #67c5ff;
}

/* 1つ目 */
.style1 {
  border: 4px double #67c5ff;
}

.style1:hover {
  background: #fffbef;
}

/* 2つ目 */
.style2 {
  border: 4px dotted #75caff;
  color: #67c5ff;
  background: #ffffff;
}

.style2:hover {
  border: 4px dashed #75caff;
}


/* 3つ目 */
.style3 {
  color: #0079a5f8;
  background: #d0edfff8;
  border: 4px dashed #67c5ff;
}

.style3:hover {
  color: #67c5ff;
  background: #ffffff;
}