@charset "UTF-8";

.q8-1,
.q8-2,
.q8-3,
.q8-4 {
  height: 500px;
  margin-bottom: 40px;
}

/* Q8-1 */
.q8-1 {
  background: url("../../image/coffee-background.jpg") repeat;
}

/* Q8-2 */
.q8-2 {
  background: url("../../image/coffee-background.jpg") no-repeat;
}

/* Q8-3 */
.q8-3 {
  background: url("../../image/coffee-background.jpg") no-repeat center / cover;
}

/* Q8-4 */
.q8-4 {
  background: url("../../image/coffee-background.jpg") no-repeat center / contain;
}