@charset "UTF-8";

.q8-1,
.q8-2,
.q8-3,
.q8-4 {
  height: 500px;
  margin-bottom: 40px;
  background-image: url("../../image/coffee-background.jpg");
}

/* Q8-1 */
.q8-1 {
  background-repeat: repeat;
}

/* Q8-2 */
.q8-2 {
  background-repeat: no-repeat;
}

/* Q8-3 */
.q8-3 {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/* Q8-4 */
.q8-4 {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
