@charset "UTF-8";

a {
  text-decoration: none;
}

.header {
  width: 100%;
  background: #388bff;
  position: fixed;
}

.header-inner {
  width: 1100px;
  margin: 0 auto;

  display: flex;
  justify-content: space-between;
}

.logo {
  margin-top: 30px;
  font-size: 24px;
  font-weight: bold;
}

.logo a {
  color: #f2ff7b;
}

.nav-list {
  display: flex;
}

.nav-list li {
  list-style: none;
  padding: 30px;
}

.nav-list a {
  color: #ffffff;
}