@charset "UTF-8";

.balloon {
  position: relative;
  width: 500px;
  margin: 40px auto;
  padding: 20px;
  font-size: 16px;
  line-height: 16px; 
  background: #fad296;
  border: 5px solid #8f5a0a;
  border-radius: 30px;
}

.balloon::before {
  content: "";
  position: absolute;
  left: 30px;
  bottom: -45px;
  border: 20px solid transparent;
  border-top: 20px solid #8f5a0a;
}

.balloon::after {
  content: "";
  position: absolute;
  left: 30px;
  bottom: -38px;
  border: 20px solid transparent;
  border-top: 20px solid #fad296;
}